*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.t1{
	margin: 3px 300px;
	padding: 30px 0px;
}

.pru{
	background: #000000;
	color: white;
	clear: both;
	padding: 10px 5px;
}
.pru{
	padding: 20px 0px 20px 300px ;
}
.container1 h1 {
	padding: 0px 300px ;
	font-size: 50px;
	color: #2E2E2E;
	font-family: 'Poppins';
	
}.menu{
	background:#E8E4E4;
	padding: 10px;
}

.heredia{
	padding: 30px 0px 30px 0px;
	margin: 40px 0px 0px 350px;
}
article{
	float: left;
	
}
.te{
	color: crimson;
	padding: 10px 0px 0px 0px;
	margin: 60px 0px 0px 0px;
	font-size: 25px;
}
.tg{
	margin: 50px 0px 0px 200px;
	
	
}
.gg1{
	text-decoration: none;
	color:crimson;
	display: inline-block;
	font-size: 25px;
	margin: 100px 100px 10px 50px;
}
.gg2{
	text-decoration: none;
	color:crimson;
	display: inline-block;
	font-size: 25px;
	margin: 100px 20px 10px 100px;
}