*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.t1{
	margin: 3px 300px;
	padding: 30px 0px;
}
.pru{
	padding: 20px 0px 20px 300px ;
}
.pru{
	background: #000000;
	color: white;
	clear: both;
	padding: 10px 5px;

}
.container1{
	background:#E8E4E4;
	
}
.container2{
	margin: 0px 0px 20px 300px ;

}
a{
	font-size: 15px;
	margin: 0px 0px 0px 10px;
	color: #7F7F7F;
	border-bottom: dotted 2px;
	text-decoration: none;
}
.container4 label{
	font-size: 25px;
	margin: 0px 10px 0px 0px;
}
.claa{
	text-decoration: none;
}
legend{
	color: red;
	font-size: 25px;

	
}
fieldset{
	border-color: red;
	margin: 10px 300px 10px 10px;
}
.container3{
	margin: 15px 15px 15px 50px;
}
.container4 ,.container5{
	margin: 0px 0px 10px 0px;
}
h3{
	margin: 10px 0px 10px 10px;
	color: #8E140F;
	font-size: 15px;
}
h2{
	margin: 0px 0px 5px 0px;
}
.container5 ,label{
	font-size: 12px;

}
.mar{
	margin: 20px 0px 20px 100px ;
}
.container7{
	margin: 10px 0px 20px 15px ;
}
.container6{
	background: crimson;
	text-decoration: none;
	color: #fff;
	padding: 10px 10px;
	margin: 2px 2070px 8px 10px;
}
.container



